<div class="wrapper-form">
  <div class="container">
    <h1 class="text-center">Edit your booking!</h1>
    <div class='form-container'>
      <%= simple_form_for [@boat, @booking] do |f| %>
        <%= f.input :start_date, as: :string, class: 'form-control datepicker', placeholder: 'yyyy/mm/dd'%>
        <%= f.input :end_date, as: :string, class: 'form-control datepicker', placeholder: 'yyyy/mm/dd' %>
        <div class="btn-container">
          <%= f.button :submit, class: "btn-treehouse" %></div>
        <% end %>
      <div class="text-center">
        <p><%= link_to "Back to your bookings", bookings_path %></p>
      </div>
    </div>
  </div>
</div>
