<div class="content">
  <div class='container'>
    <h1>My bookings</h1>
    <hr>

    <% @bookings.each do |booking| %>
      <div class="message">
        <!-- <div class="message-date"> -->
         <div class="message-date">
          <%= link_to boat_path(booking.boat) do %>
          <%= image_tag booking.boat.photo.url, class: 'avatar-square' %>
          <% end %>
        </div>
        <!-- </div> -->
        <div class="message-name">
          <p><strong>Boat name</strong></p>
          <p><%= booking.boat.name %></p>
        </div>
        <div class="message-date">
          <p><strong>Owner</strong></p>
          <p>
            <%= booking.boat.user.first_name %> <%= booking.boat.user.last_name %>
          </p>
        </div>
        <div class="message-date">
          <p><strong>Start date</strong></p>
          <p>
            <%= booking.start_date %>
          </p>
        </div>
        <div class="message-date">
          <p><strong>End date</strong></p>
          <p>
            <%= booking.end_date %>
          </p>
        </div>
        <div class="message-date">
          <p><strong>Price</strong></p>
          <p>
            <%= (booking.end_date - booking.start_date).to_i * booking.boat.price_per_day %> €
          </p>
        </div>
        <div class="message-edit">
          <p><%= link_to edit_booking_path(booking) do %>
              <i class="fas fa-edit"></i>

              <% end %>
          </p>
          <p>
            <%= link_to booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }  do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    <hr>
  </div>

</div>
