<div class="wrapper-form">
  <div class="container">
    <h1 class="text-center">Book today!</h1>
    <div class='form-container'>
      <%= simple_form_for [@boat, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <div class="btn-container">
          <%= f.button :submit, class: "btn-treehouse" %></div>
        <% end %>
      <div class="text-center">
        <p><%= link_to "Back to list of boats", boats_path %></p>
      </div>
    </div>
  </div>
</div>


