<div class="content">
  <div class="container">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <hr>
    <div class="profile-grid">
      <div class="card-user main-section">
          <p class="text-center"><%= image_tag @user.photo.url, class: 'img-circle', width: '150' %></p>
          <hr>
          <p><%= @user.email %></p>
          <p><%= @user.phone_number %></p>
          <% if @user == current_user  %>
          <p><%= link_to "See my bookings", bookings_path %> |
          <%= link_to "Edit profile", edit_user_path(@user) %></p>
          <% end  %>
      </div>
      <div class="stats-section">
        <p>Member since</p>
        <h3><%= @user.created_at.strftime("%b %d, %Y") %></h3>

      </div>
      <div class="stats-section">
        <p>Boats</p>
        <h3><%= @user.boats.count %></h3>
      </div>
      <div class="stats-section">
        <p>Rating</p>
          <div class="padded">
            <div class="star-ratings-css">
              <div class="star-ratings-css-top" style="width: <%= ((@user.rating / 5)*125).to_i %>%">
                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
              </div>
              <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
              </div>
            </div>
          </div>
      </div>
      <div class="content-section">
        <h3>More about <%= @user.first_name %></h3>
        <p class="text-justify">
          <%= ['I’ve been a boat owner for over 15 years and I spend most of the year on the water.  When I’m not on a boat, you can find me doing yoga, playing guitar, or  cooking pizza!', 'I’m a novice skipper, I got my license in 2018.  I grew up in Boston, MA but I now live in Brest and work at the port.  I love crepes, cider, and the rain!', 'There are two loves in my life: the ocean and coding.  I am currently doing Le Wagon boot camp, but normally you will find me sailing on the Mediterranean.  My dream is to work as a freelance developer from my home… my boat!'].sample %>
        </p>
      </div>
    </div>
    <hr>
<!--
      <h3><%= @user.first_name %>'s Boats</h3>
    <hr>
      <h3>Reviews about <%= @user.first_name %></h3>
    <hr> -->
  </div>
</div>

