<div class="container">
  <div class="profile-grid">
    <div class="card-user main-section">
        <%= image_tag @user.photo.url, class: 'img-circle', width: '100' %>
        <!-- <img src="images/seb.jpeg" alt="" width="150" class="img-circle"> -->
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p><%= @user.email %></p>
        <p><%= @user.phone_number %></p>
    </div>
    <div class="card stats-section">
      <div class="card-content">
        <h3><%= @user.created_at %></h3>
        <p>Member since</p>
      </div>
    </div>
    <div class="card stats-section">
      <div class="card-content">
        <h3>758</h3>
        <p>Rentals</p>
      </div>
    </div>
    <div class="card stats-section">
      <div class="card-content">
        <h3><%= @user.rating %></h3>
        <p>Rating</p>
      </div>
    </div>
    <div class="card content-section">
      <div class="card-content">
        <h3>More about <%= @user.first_name %></h3>
        <p class="text-justify">
          I hate sailing and boats, they make me throw up!
        </p>
      </div>
    </div>
  </div>

  <h2><%= @user.first_name %>'s Boats</h2>
  <div class="row">
    <% @user.boats.each do |boat| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-trip">
          <%= image_tag boat.photo.url %>
          <div class="card-trip-infos">
            <div>
              <h2><%= boat.category %></h2>
              <p><%= boat.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= boat.price_per_day %> €</h2>
          </div>
        </div>
      </div>
      <% end  %>
    </div>
</div>

