<div class="navbar-wagon">
  <!-- Logo -->
    <!-- link_to to insert once done by mathew -->
    <%= link_to "#{image_tag "sextant_logo.png", class: "navbar-wagon-brand"}".html_safe, root_path %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <%= link_to "All boats", boats_path, class: "navbar-wagon-item navbar-wagon-link"  %>
    <%= link_to "My bookings", bookings_path, class: "navbar-wagon-item navbar-wagon-link"  %>

    <% if current_user %>
      <%= link_to "My boats", user_path(current_user), class: "navbar-wagon-item navbar-wagon-link"  %>
    <% end %>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">

     <% if user_signed_in? %>
        <div class="dropdown">
            <img src="<%= current_user.photo %>" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

              <% if current_user %>
                <li><%= link_to "Profile", user_path(current_user) %></a></li>
              <% end %>

              <!-- <li><#%= link_to "My boats", my_boats_path %></li> -->

              <li><%= link_to "Add a boat", new_boat_path %></li>
              <li><%= link_to "Help", root_path %></li>
              <li><%= link_to "Log out", root_path %></li>
            </ul>
          </div>
      <% else %>
        <div class="btn-treehouse">
         <%= link_to "Sign in", user_session_path %>
       </div>
      <% end %>
     </div>
    </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">

    <% if user_signed_in? %>
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

        <% if current_user %>
                <li><%= link_to "Profile", user_path(current_user) %></a></li>
              <% end %>

        <li><%= link_to "Add a boat", new_boat_path %></li>
        <li><%= link_to "Help", root_path %></li>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete)%></li>
      </ul>
    </div>
     <% else %>
        <div class="btn-treehouse">
         <%= link_to "Sign in", user_session_path %>
       </div>
      <% end %>
  </div>
</div>
