<div class="text-center">
  <div class="banner text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "home_cover.jpg" %>');">

      <div class="banner-content">
        <h1>Loveboat</h1>
        <p>Find your new home on the sea</p>
        <%= render "shared/selection_form" %>
      </div>
    </div>

</div>

<div class="container home">
  <h3 class="text-center">Why not one of them?</h3>
  <div class="row">

    <% @boats.each do |boat| %>
      <div class="<col-xs-12 col-sm-6 col-md-4">
        <div class="card-trip">
          <%= link_to boat_path(boat) do %>
          <img src=<%= cl_image_path boat.photo %>>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= boat.category %></h2>
              <p><%= boat.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= link_to "#{boat.price_per_day} €", boat_path(boat) %>
              </h2>
            <img src='<%= boat.user.photo %>' class="avatar-card"/>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
