<div class="content">
  <div class="row">
    <div class="home-cards col-xs-12">
      <% @boats.each do |boat| %>
      <div class="card-trip">
          <%= link_to boat_path(boat) do %>
          <img src=<%= cl_image_path boat.photo %>>
          <% end %>

        <div class="card-trip-infos">

            <div class="left">
              <div>
                <h2><%= boat.capacity %><i class="fas fa-user"></i></h2>
                <p><%= boat.user.rating %></p>
              </div>
              <div>
                <h2><%= boat.category %></h2>
                <p><%= boat.address %></p>
              </div>
            </div>

              <div>
              <h2 class="card-trip-pricing"> <%= boat.price_per_day %>€ </h2>
              <img src='<%= boat.user.photo %>' class="avatar-card"/>
              </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

</div>
