  <div class="row">
    <div class="home-cards col-xs-12">
      <% @boats.each do |boat| %>
      <div class="card-trip">
          <%= link_to boat_path(boat) do %>
          <img src=<%= cl_image_path boat.photo %>>
          <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= boat.category %></h2>
            <p><%= boat.description %></p>
          </div>
          <div>
          <h2 class="card-trip-pricing"><%= link_to "#{boat.price_per_day} €", boat_path(boat) %></h2>
          <img src='<%= boat.user.photo %>' class="avatar-card"/>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
