  <div class="content">
  <%= simple_form_for @boat,:html => { :multipart => true } do |f| %>
    <%= f.input :price_per_day %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.file_field  :other_photos, :multiple => true %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  </div>

