<div class="content">

<div class="wrapper-form">
  <div class="container">
    <div class='boat-form-container'>
      <div class="form-row">
        <%= simple_form_for @boat,:html => { :multipart => true } do |f| %>
          <div class="form-group col-md-12">
          <%= f.input :name, placeholder: "Boat name", label: false %>
          </div>
          <div class="form-group col-md-12">
          <%= f.input :category, :collection => ['Sailboat', 'Motorboat', 'Catamaran', 'RIB', 'Houseboat'], prompt: 'Category', label: false %>
          </div>
          <div class="form-group col-md-12">
          <%= f.input :address, placeholder: "Address", label: false %>
          </div>
          <div class="form-group col-md-6">
          <%= f.input :capacity, placeholder: "Capacity", label: false %>
          </div>
          <div class="form-group col-md-6">
          <%= f.input :cabin, placeholder: "Cabins", label: false %>
          </div>
          <div class="form-group col-md-6">
          <%= f.input :length, placeholder: "Length", label: false %>
          </div>
          <div class="form-group col-md-6">
          <%= f.input :price_per_day, placeholder: "Price per day", label: false %>
          </div>
          <div class="form-group col-md-12">
          <%= f.input :description, placeholder: "Description", label: false %>
          </div>
          <div class="form-group col-md-6">
          <%= f.input :photo, placeholder: "Photo", label: false %>
          <%= f.input :photo_cache, as: :hidden %>
          </div>
          <div class="form-group col-md-6">
          <%= f.file_field  :other_photos, :multiple => true %>
          </div>


            <div class="btn-container">
              <%= f.button :submit, class: "btn-treehouse" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

