<div id="photo-banner" class="photo-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @boat.photo.url %>');">
<<<<<<< HEAD
  <%= link_to user_path(@boat.user) do %>
  <%= image_tag @boat.user.photo.url, class: "avatar-100px" %>
  <% end %>
=======

  <%= link_to user_path(@boat.user) do  %>
  <%= image_tag @boat.user.photo.url, class: "avatar-100px" %>
  <% end  %>

>>>>>>> 6561a9456b04f691d70c31ce52ec3a08b8b36f28
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="main-description">
        <div class="description">
          <div class="title">

          </div>
          <div class="row">
            <div class="options">

              <p> Book as from <%= @boat.price_per_day %> € / day or <%= (@boat.price_per_day * 0.9 * 7).round() %> € / week and save <%= (@boat.price_per_day * 0.1*7).round() %> € </p>
            </div>
            <div class="boat-text">
          </div>
            <h3><%= @boat.category %></h3>
            <p><%= @boat.description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="booking">
        <%= link_to "Book now", new_boat_booking_path(@boat), class: 'btn btn-primary', id:'book_btn'  %>
        </button>
      </div>
    </div>
  </div>
</div>
